body {
    height: 100vh;
    background: rgb(221, 192, 252);
    font-family: "Comic Neue";
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

header {
    background: white;
    min-width: 500px;
    min-height: 50px;
    border-radius: 10px;
    font-style: italic 500px;
    min-height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section {
    background: white;
    min-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background: white;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#foto {
    height: 200px;
    width: 150px;
    border-radius: 8%;
}

div#res {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
