body {
    height: 100vh;
    background: rgb(3, 4, 31);
    font-family: "Comic Neue";
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

header {
    background: rgba(169, 169, 214, 0);
    min-width: 500px;
    min-height: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

section {
    background: rgb(169, 169, 214);
    min-width: 500px;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

footer {
    background: rgba(169, 169, 214, 0);
    min-width: 500px;
    min-height: 50px;
    border-radius: 10px;
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}


